@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", "halyard-display", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #040404;
}

.logomark-animation {
  animation: logomarkEnter 0.2s ease-in forwards;
  z-index: 80;
  opacity: 0;
}

.logotext-animation {
  animation: logotextEnter 0.2s ease-in forwards 0.25s;
  z-index: 10;
  opacity: 0;
}

@keyframes logomarkEnter {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes logotextEnter {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.card-active {
  border-bottom: 1px solid #fff !important;
}

.card-active > p {
  color: #fff !important;
}

@media (min-width: 768px) {
  .card-inactive {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .margin-container-left {
    margin-left: calc((100vw - 1216px) / 2);
  }
}

#sidebar {
  background-color: #040404;
  transform: translateY(-100%);
  transition: all 0.25s ease;
  opacity: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

#sidebar.open {
  transform: translateY(-0%);
  opacity: 1;
}

#menu-toggle,
#close-sidebar {
  background: none;
  border: none;
  cursor: pointer;
}

#close-sidebar {
  position: absolute;
  top: 16px;
  right: 16px;
}

.data-mark-active {
}

.data-mark-active > div {
  opacity: 1 !important;
}

.animation-hero-entering {
  animation: fadeDownToTop 0.45s ease-in-out forwards;
}

@keyframes fadeDownToTop {
  0% {
    opacity: 0;
    transform: translateY(40px); /* Start 30px below the original position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

.animation-card-stats {
  animation: fadeLeftToRight 0.45s ease-in-out forwards;
}

@keyframes fadeLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-40px); /* Start 30px below the original position */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
  }
}

.loader {
  position: relative;
  width: 32px;
  height: 32px;
  background: #2c4bef;
  transform: rotateX(65deg) rotate(45deg);

  transform: perspective(200px) rotateX(65deg) rotate(45deg);
  color: #fff;
  animation: layers1 1s linear infinite alternate;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% {
    box-shadow: 0px 0px 0 0px;
  }
  90%,
  100% {
    box-shadow: 20px 20px 0 -4px;
  }
}
@keyframes layerTr {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(-25px, -25px) scale(1);
  }
}

.animation-card-stats-inverse {
  animation: fadeRightToLeft 0.45s ease-in-out forwards;
}

@keyframes fadeRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(40px); /* Start 30px below the original position */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
  }
}
